/*!
 * Start Bootstrap - Shop Homepage (https://startbootstrap.com/template-overviews/shop-homepage)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-shop-homepage/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
} 

.HJlsB9
{
background-color: #fff;
    min-width: 978px;
    margin-top: 25px;
    border-top: 1px solid #ddd;
}

.space
{
    margin-bottom: 50px;
}

py-5 
{
    position: fixed-bottom;
    height: 10px;
}

li:focus 
{
    background-color:white;
}

.card-img-top
{
  width: auto;
}

.d-block{
  max-height: 350px;
  width: 850px; 
  min-width:700px; 
}