.log
{
    padding: 22px;
    margin-left: auto;
    border: 2px groove black;
    width:80%;
    margin-top:20px;
    margin-bottom: 20px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
}
.img-rounded
{
    border-radius: 60px;
    height: 95px;
}

input[type=text],input[type=password],input[type=email]
{
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     box-sizing: border-box;
}
input[type=Submit]
{
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: slateblue;
}
.img-con
{
        text-align: center;
}
.top
{
    background-color: #FFF8DC;
    height: 100px;


}
.pic
{
    float: left;
}
.col-sm-6
{
    padding: 60px;
        
}

#emailError
{
    color: red;
}

#passwordError
{
    color: red;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    height: 4%;
    width: 100%;
    text-align: center;
    font-size: 13px!important;
}

.fa:hover {
    opacity: 0.7;
}

.fa-google {
    background: #dd4b39;
    color: white;
    height: 4%;
    width: 100%;
    font-size: 13px!important;
    text-align:center;
}

.fa-oauth {
    background: cadetblue;
    color: white;
    height: 4%;
    width: 100%;
    font-size: 13px!important;
    text-align:center;
}