.xjwe
{
	margin-top: 10px;
	/*margin-left: -52px;*/
}

.tdfs
{
	margin-top: 10px;
}

.navew
{
	margin-left: 17px;
}

.navbar {
	border-radius: 0 !important;
	box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
}

#search-box, .search-btn {
	border-radius: 0 !important;
	outline: none !important;
}

