body
{
    background: linear-gradient(to top left, #000066 0%, #ffcc66 100%);
}
.form-horizontal
{
    background-color: #ECF0F1;
    text-align: center;
    padding-top: 10px;
}
button
{
    width: 100%;
    color: white;
}
.btn btn-primary
{
    background-color:  #58D68D;
    margin: 10px;
}
#star
{
    color: red;
}

.highlight
{
    color: red;
}
.col-sm-12
{
    padding-bottom: 10px;
    margin: 30px;
}
.h1
{
    text-align: left;
    margin-left: 15px;
    border-left-width: 25px;
    padding-left: 12px;
    padding-top: 10px;
    color: sienna;
}