#quantity
{
    width: 40px;
    float: left;
}

.col-sm-4 
{
    width: 85%;
}

.rounded
{
    width: 122px;
}

#minus
{
    float: left;
}

#plus
{
    float: left;
}

.col-sm-2
{
	text-align: center;
}

.XYZX
{
	margin-bottom: 70px;
}