.slideSettlement {
    width:375px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important; padding: 10px; margin-right:4px;
}

.card-img-top {
    max-height:328px; 
    max-width:260px;
    padding-left: 20px; 
    padding: 10px;
}