.itfe
{
	height: 500px;
}

.poqw
{
	padding-top: 30px;
}

.feedback
{
	box-shadow: 0 2px 2px 0 rgba(25, 20, 40, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
	background-color: whitesmoke;
	margin-bottom: 5%;	
	margin-top: 20px;
	padding: 22px;
}

.kjew
{
	font-size: 32px;
	font-weight: bold;
	flood-color: black;
}

.jher
{
	font-size: 11px;
	flood-color: gray;
}

.mnur
{
	font-size: 16px;
	flood-color: gray;
}

.sidebar {
	width: 250px;
	height: 100%;
	position: fixed;
}

.description {
	margin-left: 250px;
}

@media only screen and (max-width: 768px) {
    .sidebar {
        position: static;
        height: auto;
        width: 100%;
    }

    .description {
		margin-left: 0;
	}
}

.imageSpecification{
	height:auto;
	padding:20px; 
	max-width: 250px
}