.col-lg-4,.col-md-6
{
    padding-top: 10px;
}

.card
{
    height: 550px;
}
.card-img-top
{
    max-height:328px; 
    padding:10px;  
    max-width:260px;
    padding-left:20px;
}

.d-block
{
	height: 350px;
	width: 850px;
}

.itemsDisplay
{
	padding: 24px;
	line-height: 1;
	padding-right: 0;
	padding-bottom: 30px;
	display: block;
	overflow: hidden;
	font-family: Roboto, Arial, sans-serif;
	font-size: 14px;
	color: black;
}

.itemsDisplay .imageDisplayDiv
{
    position: relative;
    width: 200px;
    float: left;
}

.imageDiv
{
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
}

.productInformation
{
	.width: auto;
    padding-left: 25px;
}

.productDetails
{
    width: 58.33%;
    display: inline-block;
    vertical-align: top;
    padding-left: 40%;
    float: left;
}

.productDescription
{
	padding-left: 45%;
	width: 41.66%;
	display: inline-block;
	vertical-align: top;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.productContainer
{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    -moz-box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.itemAdjust
{
    margin-bottom: 20px;
}