.log
{
    background-color: #ECF0F1 ;
    text-align: center;
}
.button
{
    background-color:darkslategray; 
    color:white; 
    border: 2px solid #008CBA;
}

.button:hover 
{
    background-color: #008CBA;
    color: white;
}

.txtColor
{
    padding-top: 10px;
    color: red;
    text-align:center;
    font-family: Monospace;
}

.pad
{
    padding-top: 20px;
}

#edit
{
    background-color: ghostwhite;
}